md-card img {
    width: 100%;
    height: auto;
}

md-sidenav{
    position: fixed !important;
}

md-card-footer{
    padding: 0 !important;
}

#popupEmbed{
    padding-left: 50%;
}

.thumbnailCards:hover{
    background-color:#000;
    opacity:0.6;
    color: white;
}


