<md-sidenav md-is-locked-open="true" flex="80">

    <md-content layout-padding layout="column">

        <md-button href="#!search" class="md-primary" layout="row" layout-align="center center">
            <i class="material-icons">
                search
            </i>
            Search

        </md-button>
        <md-button href="#!browse" class="md-primary">
            Browse
        </md-button>
        <md-button href="#!myTracks" class="md-primary">
            My Songs
        </md-button>
        <md-button href="#!playlists" class="md-primary">
            My Playlist
        </md-button>

    </md-content>
</md-sidenav>