<h1>My Tracks</h1>
<md-list>


    <md-list-item class="md-2-line" ng-repeat="track in vm.songList.list" ng-click="vm.viewSong($event,track)">


        <img ng-src="{{track.image_url}}" class="md-avatar">
        <div class="md-list-item-text">
            <h3>{{track.title}}</h3>
            <p>{{track.name}}</p>
        </div>


        <md-menu>
            <md-button ng-click="vm.showPlaylists($mdMenu, $event)">
                <i class="material-icons">
                    playlist_add
                </i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="playlist in vm.playlists.list">
                    <md-button ng-click="vm.addTrackToPlaylist(track, playlist.id)">
                        {{playlist.title | uppercase}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button ng-click="vm.deleteTrack(track)">
            <i class="material-icons">
                delete
            </i>
        </md-button>


    </md-list-item>

</md-list>