<div class="playlistDiv" layout="row">
    <md-container flex="70" id="playlistTracks">

        <h2>{{vm.currentPlaylistTitle}}</h2>
        
        <md-list-item class="md-2-line" ng-repeat="track in vm.currentPlaylist.list" ng-click="vm.viewSong($event, track)">


            <img ng-src="{{track.image_url}}" class="md-avatar">
            <div class="md-list-item-text">
                <h3>{{track.title}}</h3>
                <p>{{track.name}}</p>
            </div>

            <md-button ng-click="vm.removeFromPlaylist(track)">
                Remove from Playlist
            </md-button>
        </md-list-item>

    </md-container>
    <md-container flex="30" id="playlistSideView" layout-padding>
        <md-container layout="column" >

            <form ng-submit="vm.createPlaylist(playListName)">
                <md-input-container class="md-block">
                    <label>Create a playlist</label>
                    <input type="text" ng-model="playListName" name="playlist">
                </md-input-container>
                <input type="submit" style="display:none"/>
            </form>
        </md-container>

        <md-list>
            <md-list-item class="md-2-line" ng-repeat="playlist in vm.playlists.list" ng-click="vm.getSongsInPlaylist(playlist.id)">

                <div class="md-list-item-text">
                    <h3>{{playlist.title | uppercase}}</h3>
                </div>

                <md-button ng-click="vm.deletePlaylist(playlist)">
                    <i class="material-icons">
                        delete
                    </i>
                </md-button>
            </md-list-item>
        </md-list>

    </md-container>

</div>