<h1>Playlists</h1>
<md-container layout="row">

    <md-input-container class="md-block" flex="30">
        <label>Create a playlist</label>
        <input type="text" ng-model="playListName" name="playlist">
    </md-input-container>
    <md-button class="md-primary" ng-click="vm.createPlaylist(playListName)">Create</md-button>


</md-container>


<md-list>
    <md-list-item class="md-2-line" ng-repeat="playlist in vm.playlists.list" ng-click="vm.getSongsInPlaylist(playlist.id)">

        <div class="md-list-item-text">
            <h3>{{playlist.title | uppercase}}</h3>
        </div>

        <md-button ng-click="vm.deletePlaylist(playlist)">
            <i class="material-icons">
                delete
            </i>
        </md-button>
    </md-list-item>
</md-list>


<hr>


<md-list-item class="md-2-line" ng-repeat="track in vm.currentPlaylist.list" ng-click="vm.viewSong()">


        <img ng-src="{{track.image_url}}" class="md-avatar">
        <div class="md-list-item-text">
            <h3>{{track.title}}</h3>
            <p>{{track.name}}</p>
        </div>

        <md-button ng-click="vm.deleteTrack(track)">
            <i class="material-icons">
                delete
            </i>
        </md-button>


    </md-list-item>

