<h1>Search</h1>
<md-container layout="row">
    <md-input-container class="md-block" flex="30">
        <label>Search by key word</label>
        <input type="text" ng-model="searchKey" name="search">
    </md-input-container>
    <md-button class="md-primary" ng-click="vm.searchSpotify(searchKey)">Search</md-button>
</md-container>

<md-container layout="row" layout-wrap>
    <md-card ng-repeat="track in vm.responses.list" flex-gt-xs="20" layout="column">
        <img ng-src="{{track.album.images[0].url}}" alt="" class="md-card-image">

        <md-card-title>{{track.name}}</md-card-title>

        <md-card-footer layout="row" layout-align="end center">
            <md-button  ng-click="vm.addTrack(track)">
                <i class="material-icons">
                    add
                </i>
            </md-button>

            <md-menu>
                    <md-button ng-click="vm.showPlaylists($mdMenu, $event)">
                        <i class="material-icons">
                            playlist_add
                        </i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="playlist in vm.playlists.list">
                            <md-button ng-click="vm.addTrackToPlaylist(track.id, playlist.id)">
                                {{playlist.title | uppercase}}
                            </md-button>
                        </md-menu-item>
        
                    </md-menu-content>
        
                </md-menu>
        </md-card-footer>
        
    </md-card>



</md-container>